h1 {
  margin: 0;
  padding-top: 15px;
}
p {
  margin: 0;
  padding-top: 15px;
}
.js_colors {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);

  grid-template-rows: repeat(3, 210px);
}
.color-card {
  border: 1px solid black;
  margin-right: 15px;

  margin-top: 15px;
}
.color-swatch {
  height: 60px;
}
.active {
  transform: rotateX(30deg);
}
